@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sideWid: 16rem;
  --navHit: 2.5rem;
  --bgClr: #fff;
  /* theme(colors.blue.50); #f6faff; */
  --mainClr: theme(colors.blue.700);
}

body {
  @apply bg-slate-50 text-base text-gray-800;
  /* background-color: #fdfdfd; */
}

.sideWid {
  margin-right: var(--sideWid);
}

@layer base {
  select {
    appearance: none;
    background-image: url('https://res.cloudinary.com/dfletli2x/image/upload/icons/reg/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 8% 50%;
    background-size: 12px;
    cursor: pointer;
  }

  input[type='checkbox'] {
    cursor: pointer;
  }

  button {
    &:disabled {
      opacity: 40%;
    }
  }

  [popover='auto'] {
    @apply shadow-lg;
    &::backdrop {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

@layer components {
  .flex {
    @apply items-center gap-6 flex-wrap;
  }
  .paper {
    @apply m-8 p-6 block rounded-md bg-white shadow;
    // min-width: 450px;
  }

  .border {
    @apply border-slate-300 dark:border-slate-400;
  }

  .proj-btn {
    @apply flex items-center justify-center w-40 h-36 p-4 rounded-md bg-white shadow transition-shadow hover:shadow-md active:shadow-none;
    > div {
      @apply grid justify-items-center gap-4;
      p {
        @apply font-semibold text-center;
      }
    }
  }

  .paper-s {
    @apply p-6 block rounded-md bg-white shadow;
    // min-w-96
    min-width: 400px;
  }

  .nav {
    @apply h-10 border-b border-slate-200 flex gap-0 fixed z-50 w-full bg-white;
  }

  .navLink {
    @apply flex h-full px-6;
  }

  .title {
    @apply text-2xl font-bold;
  }

  .baseBtn {
    @apply flex h-12 min-w-fit justify-center gap-3 rounded-md px-6 font-semibold transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
  }

  .btn {
    @apply baseBtn bg-purple-800 text-white;
  }

  .btn-s {
    @apply baseBtn h-11 px-5 bg-purple-800  text-white;
  }

  .btn-soft {
    @apply baseBtn bg-purple-100 text-purple-800;
    > div {
      @apply bg-purple-800 size-4;
    }
  }

  .btn-soft-small {
    @apply baseBtn h-10 px-4 gap-2 bg-purple-100 text-purple-800;
    > div {
      @apply bg-purple-800 size-3.5;
    }
  }

  .softBtn-s {
    @apply baseBtn h-11 bg-blue-100 px-5 text-blue-800;
    > div {
      @apply size-4 bg-blue-800;
    }
  }
  .softBtn-s-g {
    @apply baseBtn h-11 bg-green-100 px-5 text-green-800;
    > div {
      @apply size-4 bg-green-800;
    }
  }
  .softBtn-s-r {
    @apply baseBtn h-11 bg-red-100 px-5 text-red-800;
    > div {
      @apply size-4 bg-red-800;
    }
  }

  .white-btn {
    @apply flex gap-2 px-6 py-2 text-start  hover:bg-purple-100 active:bg-slate-200 disabled:pointer-events-none disabled:opacity-50;
    > div {
      @apply bg-slate-600;
    }
  }

  .simple-btn {
    @apply flex gap-2 text-gray-500 border border-gray-400 py-2 px-3 rounded-md transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
    > div {
      @apply bg-slate-500;
    }
  }

  .input-icon {
    @apply flex gap-3 h-9 bg-white rounded-md border px-3 focus:outline-blue-200;
    p {
      @apply sr-only;
    }

    input {
      @apply outline-none;
      ::placeholder {
        @apply text-gray-900;
      }
    }

    > div {
      @apply bg-slate-400;
    }
  }

  .input {
    @apply block max-w-60;
    input,
    textarea {
      @apply h-10 w-full min-w-60 rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
    }
    textarea {
      @apply min-h-24 p-4;
    }
    > p {
      @apply mb-1;
    }
    > div {
      @apply mb-1 flex justify-between gap-0;
      span {
        @apply text-sm text-gray-500;
      }
      i {
        @apply text-red-600 text-sm;
      }
    }

    .iconMask {
      @apply size-3;
    }
  }

  .slct {
    @apply block max-w-60;
    select {
      @apply h-10 w-full  min-w-60 rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
    }

    i {
      @apply text-red-600 text-sm;
    }

    > div {
      @apply flex justify-between mb-1 gap-0;
      a {
        @apply text-sm text-blue-500 underline;
      }
    }
  }

  .check {
    @apply flex gap-1.5 cursor-pointer;
    input {
      @apply size-4;
    }
  }

  .tbl {
    @apply bg-white shadow p-4 my-6;
    table {
      @apply w-full overflow-x-auto;
    }
    tr {
      @apply border-b border-slate-200 even:bg-slate-50/50;
    }
  }
  .tblRow {
    @apply px-4 py-3 text-sm;
  }
  .tblHead {
    @apply bg-blue-50 sticky top-0 z-50;

    th {
      @apply px-4 py-3 text-start text-sm font-semibold whitespace-nowrap;
    }
  }

  .iconMask {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    @apply size-4.5 bg-slate-800 dark:bg-slate-300;
  }

  .text-balance {
    text-wrap: balance;
  }
  .grid-1fr-auto {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .underline {
    @apply underline-offset-4;
  }

  .toast {
    @apply fixed bottom-12 right-8 z-50 flex px-10 py-6 border-r-4 rounded-md bg-white shadow-md pointer-events-none;
    animation: toast-show 6s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  }
}

body::-webkit-scrollbar,
dialog::-webkit-scrollbar,
select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;

  &-track {
    background: rgba(141, 141, 141, 0.1);
  }
  &-thumb {
    border-radius: 5px;
    background: rgba(119, 119, 119, 0.2);

    &:hover {
      background: rgba(119, 119, 119, 0.5);
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes toast-show {
  0% {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: right;
  }
  5% {
    opacity: 1;
    transform: translateX(0%);
    transform-origin: right;
  }
  95% {
    opacity: 1;
    transform: translateX(0%);
    transform-origin: right;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: right;
  }
}
