@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navWid: 50px;
}

body {
  @apply bg-slate-50 text-base text-gray-800 overflow-x-hidden;
}

@layer base {
  select {
    appearance: none;
    background-image: url('https://res.cloudinary.com/dfletli2x/image/upload/icons/reg/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 7% 50%;
    background-size: 11px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    option {
      color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    &:disabled {
      background-image: none;
      opacity: 70%;
    }
  }

  input[type='checkbox'] {
    cursor: pointer;
  }

  button {
    &:disabled {
      opacity: 40%;
    }
  }

  .pop {
    animation: fadeScaleIn 0.15s ease-out;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    &::backdrop {
      animation: fadeIn 0.25s ease-in;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(1px);
    }
  }
  label {
    display: block;
  }

  .popMsg {
    animation: slideIn 0.15s ease-out;
    @apply bg-black/85 bottom-8 right-8 inset-auto rounded shadow-lg;
  }

  img {
    object-fit: cover;
  }
  pre {
    font-family: inherit;
    font-size: inherit;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@layer components {
  .container {
    @apply px-8;
  }

  .flex {
    @apply items-center gap-6 flex-wrap;
  }
  .paper {
    @apply block rounded-md bg-white shadow;
  }

  .border {
    @apply border-slate-300 dark:border-slate-400;
  }

  .num-box {
    @apply py-4 px-8 rounded-md bg-white shadow-1 min-w-40 text-start transition-shadow hover:shadow-3 active:shadow-none;
    span {
      @apply mb-2 inline-block;
    }
    > h2 {
      @apply text-2xl font-bold;
    }
  }

  .nav {
    @apply h-10 border-b border-slate-200 flex gap-0 fixed z-50 w-full bg-white;
  }

  .navLink {
    @apply flex h-full px-6;
  }

  .title {
    @apply text-2xl font-bold;
  }

  .baseBtn {
    @apply flex h-11 px-5 min-w-fit justify-center gap-3 rounded-md font-semibold transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
  }

  .btn {
    @apply baseBtn bg-blue-800 text-white;
    .iconMask {
      @apply bg-white;
    }
  }

  .btn-s {
    @apply baseBtn h-10 px-4 bg-blue-800  text-white;
    .iconMask {
      @apply bg-white size-4;
    }
  }

  .btn-xs {
    @apply baseBtn h-9 text-sm px-6 bg-blue-800  text-white;
    > div {
      @apply bg-white size-3.5;
    }
  }

  .btn-soft {
    @apply baseBtn bg-blue-100 text-blue-800;
    > div {
      @apply bg-blue-800 size-4;
    }
  }

  .btn-soft-s {
    @apply baseBtn h-10 px-4 gap-2 bg-blue-100 text-blue-800;
    > div {
      @apply bg-blue-800 size-3.5;
    }
  }

  .softBtn-s {
    @apply baseBtn h-10 bg-blue-100 px-5 text-blue-800;
    > div {
      @apply size-4 bg-blue-800;
    }
  }
  .softBtn-s-g {
    @apply baseBtn h-10 bg-green-100 px-5 text-green-800;
    > div {
      @apply size-4 bg-green-800;
    }
  }
  .softBtn-s-r {
    @apply baseBtn h-10 bg-red-100 px-5 text-red-800;
    > div {
      @apply size-4 bg-red-800;
    }
  }

  .white-btn {
    @apply flex gap-2 px-6 py-2 text-start  hover:bg-purple-100 active:bg-slate-200 disabled:pointer-events-none disabled:opacity-50;
    > div {
      @apply bg-slate-600;
    }
  }

  .simple-btn {
    @apply flex gap-4 text-gray-500 border border-gray-300 h-10 px-3 rounded-md cursor-pointer transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
    > div {
      @apply bg-slate-500;
    }
  }

  .input-icon {
    @apply flex flex-nowrap w-full gap-3 h-9 bg-white rounded-md border px-3 focus:outline-blue-200;

    input {
      @apply outline-none w-full;
      ::placeholder {
        @apply text-gray-900;
      }
    }

    > div {
      @apply bg-slate-400;
    }
  }

  .input {
    @apply block w-60;
    input,
    textarea {
      @apply h-10 w-full rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
    }
    > p {
      @apply mb-1 ms-1;
    }
    textarea {
      @apply min-h-24 p-4;
    }
  }

  .input-s {
    @apply block w-40;
    input {
      @apply h-9 w-full rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
    }
    > p {
      @apply mb-1 ms-1;
    }
  }

  .btn-grp {
    @apply py-1 px-3 transition-shadow hover:shadow-2 active:shadow-none rounded-full cursor-pointer;
  }

  .inputAnchor {
    anchor-name: --anchor-el;
  }
  .anchored-pop {
    margin: 0;
    inset: 0;
    position: absolute;
    position-anchor: --anchor-el;
    margin-top: 2.4rem;
    top: anchor(top);
    right: anchor(right);
  }

  .slct {
    @apply block w-60;
    select {
      @apply h-10 w-full rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
    }

    > p {
      @apply mb-1 ms-1;
    }
  }

  .slctFilter {
    @apply block w-40;
    select {
      @apply h-9 w-full text-sm rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
      background-size: 10px;
    }
    p {
      @apply text-sm text-gray-500 ps-2 pb-1;
    }
  }

  .check {
    @apply flex gap-1.5 cursor-pointer;
    input {
      @apply size-4;
    }
  }

  .dateBtn {
    @apply block max-w-60 relative;
    > p {
      @apply mb-1 ms-1;
    }
    button {
      @apply h-10 w-full flex gap-4 ps-6 min-w-60 rounded-md border border-slate-200 bg-white px-4 focus:outline-blue-200;
      p {
        margin-top: 1px;
      }
    }
    input[type='date'] {
      @apply appearance-none opacity-0 pointer-events-none absolute inset-0 -z-50;
    }
  }

  .smallDateBtn {
    @apply block max-w-60 relative;

    button {
      @apply h-10 w-full;
    }
    input[type='date'] {
      @apply opacity-0 pointer-events-none absolute inset-0 -z-50 w-36;
    }
  }

  .tbl {
    @apply bg-white p-4 overflow-x-auto;
    table {
      @apply min-w-full;
    }
    tr {
      @apply border-b border-slate-200 even:bg-slate-50/50;
    }
    td {
      @apply px-4 py-3 text-sm;
    }

    input[type='checkbox'] {
      @apply size-4;
    }
  }

  .promo-tbl {
    @apply bg-white p-4 overflow-x-auto;
    table {
      @apply w-full overflow-x-auto;
    }
    tr {
      @apply border-b border-slate-200;
    }
    td {
      @apply px-4 py-3 text-sm;
    }

    input[type='checkbox'] {
      @apply size-4;
    }
  }

  .tblHead {
    @apply bg-blue-50 sticky top-0 z-50;

    th {
      @apply px-4 py-3 text-start text-sm font-semibold whitespace-nowrap;
    }
  }

  .iconMask {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    @apply size-4.5 bg-slate-800 dark:bg-slate-300;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .text-balance {
    text-wrap: balance;
  }
  .grid-1fr-auto {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .underline {
    @apply underline-offset-4;
  }
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;

  &-track {
    background: rgba(141, 141, 141, 0.1);
  }
  &-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

dialog::-webkit-scrollbar,
select::-webkit-scrollbar,
[popover='auto']::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.tbl::-webkit-scrollbar,
.promo-tbl::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 4px;

  &-track {
    background: rgba(141, 141, 141, 0.4);
  }
  &-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.app-container {
  display: grid;
  grid-template-columns: 50px 1fr;

  > nav {
    a.active {
      background-color: #fff;
      .iconMask {
        @apply bg-blue-950;
      }
      &:hover {
        background-color: #fff;
      }
    }

    a {
      --aSize: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: var(--aSize);
      height: var(--aSize);
      margin: 12px auto;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      transition: background-color 0.3s ease-in-out;
    }
  }
}

.progress {
  display: grid;
  grid-template-columns: 7rem auto 1fr;
  gap: 3rem;
}

.jude_show_more {
  summary {
    list-style: none;
    display: inline-flex; /* also removes the list marker */
    align-items: center;
    transition: margin 0.3s ease-in;
    cursor: pointer;
  }

  summary::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url('https://res.cloudinary.com/dfletli2x/image/upload/icons/reg/angle-down.svg')
      no-repeat;
    background-size: contain;
    margin-right: 0.75em;
    transition: 0.3s ease-in;
  }

  details[open] > summary::after {
    transform: rotate(180deg);
  }
  details[open] > summary {
    margin-bottom: 10px;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
